<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Current AD <small>Based On User Statistics</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
